.col-margin-top-small{
    margin-top: 15px;
}

.menu-item{
    text-align: center;
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
    -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    height: 200px;
}

.menu-item-links{
    padding:0;
}

.menu-item-links li{
    list-style: none;
}

.menu-item-links li a{
    text-decoration: none;
    color:black;
}

/*Table*/
.table-middle-align td{
    vertical-align: middle !important;
}

.multiple-checkbox td{
    padding-right: 15px;
}

